*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
il {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}

/* --------------------------        ZEROING END       -------------------------- */

/* --------------------------          OVERALL         -------------------------- */

html {
	scroll-behavior: smooth;
}
body {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	background-color: #fafafa;
	color: #252b42;
}
svg path {
	stroke: inherit;
	stroke-width: inherit;
	fill: inherit;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* -----------------------------       HEADER       ----------------------------- */

/*	TODO: Sandwich menu. */
/*	TODO: Fixed menu. */

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	transition: background 0.3s ease 0s, transform 0.1s linear;
}
.header.hide {
	transform: translateY(-130px);
}
.header__container {
	display: flex;
	min-height: 120px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
.menu {
	padding: 5px 0px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	font-weight: 600;
	color: #737373;
	line-height: calc(24 / 14);
	position: relative;
	display: inline-block;
}
.menu__link::after {
	position: absolute;
	left: 50%;
	content: "";
	height: 0.1px;
	background: #737373;
	transition: all 0.3s ease 0s;
	width: 0;
	bottom: -3px;
}
.menu__link:hover::after {
	width: 100%;
	margin: 0 -50%;
}

/* -----------------------------       PAGES        ----------------------------- */

.page {
	flex: 1 1 auto;
}
.page__services {
	position: relative;
	margin: -111px 0px 0px 0px;
	z-index: 2;
}
.page__clients:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

/* -----------------------------     MAIN BLOCK     ----------------------------- */

/*	TODO: Better background on adaptive. */

.main-block {
	position: relative;
}
.main-block__body {
	position: relative;
	max-width: 400px;
	padding: 184px 0px 191px 0px;
	z-index: 2;
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}
.main-block__title {
	font-size: 58px;
	font-weight: 800;
	letter-spacing: 0.2px;
	line-height: calc(80 / 58);
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: calc(30 / 20);
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0px;
}
.main-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	margin: 10px 0px;
	padding: 0px 36px;
	border-radius: 37px;
	font-weight: 700;
	line-height: calc(21 / 14);
	letter-spacing: 0.2px;
	text-align: center;
	border: 1px solid #ff7b47;
	transition: all 0.3s ease 0s;
}
.main-block__button_orange {
	background: #ff7b47;
	color: #fff;
}
.main-block__button_orange:hover {
	background: none;
	color: #ff7b47;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
	color: #fff;
	background-color: #0d5c63;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* -----------------------------      SERVICES      ----------------------------- */

.services {
	padding: 0px 0px 40px 0px;
}
.services__column {
	flex: 0 1 33.333%;
}
.services__item {
	height: 100%;
	background-color: #fff;
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	transition: all 0.3s ease 0s;
}
.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24);
	letter-spacing: 0.1px;
}
.item-service__text {
	color: #737373;
	line-height: calc(20 / 14);
	transition: all 0.3s ease 0s;
}
.item-service:hover {
	background-color: #0d5c63;
	color: #fff;
}
.item-service:hover .item-service__text {
	color: #fff;
}
.item-service svg {
	fill: #0d5c63;
	transition: all 0.3s ease 0s;
}
.item-service:hover svg {
	fill: #fff;
}

/* --------------------------      HEADER 2 BLOCK      -------------------------- */

.header-block {
	text-align: center;
	line-height: 142%;
	letter-spacing: 0.2px;
	margin: 0px 0px 50px 0px;
}
.header-block__title {
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40);
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
	margin: 0px auto;
	color: #737373;
	line-height: calc(20 / 14);
}

/* -----------------------------     ADVANTAGES     ----------------------------- */

.advantages {
	padding: 40px 0px 40px;
}
.advantages-subtitle {
	max-width: 511px;
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
.advantages__item {
	background-color: #fff;
	font-weight: 700;
	padding: 30px;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__item:hover {
	background-color: #0d5c63;
	color: #fff;
}
.advantages__item:hover svg {
	fill: #fff;
}
.advantages__item:hover .advantages__text {
	color: #fff;
}
.advantages__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
}
.advantages__icon svg {
	fill: #0d5c63;
	transition: all 0.3s ease 0s;
}
.advantages__value {
	font-size: 40px;
	line-height: calc(57 / 40);
}
.advantages__text {
	color: #737373;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.1px;
	transition: all 0.3s ease 0s;
}

/* -----------------------------      PRACTICE      ----------------------------- */

.practice {
	padding: 40px 0px 40px 0px;
}
.practice-subtitle {
	max-width: 470px;
}
.practice__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -20px -30px;
}
.practice__column {
	margin: 0px 0px 30px 0px;
	padding: 0px 20px;
	flex: 0 1 25%;
}
.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	display: inline-block;
	color: inherit;
	transition: all 0.3s ease 0s;
}
.item-practice__link:hover {
	color: rgba(23, 27, 41, 0.76);
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16);
}
.item-practice__text {
	color: #737373;
	line-height: calc(20 / 14);
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
	transition: all 0.3s ease 0s;
}
.item-practice__image:hover {
	transform: scale(1.05);
}

/* -----------------------------     WHO WE ARE     ----------------------------- */

.whoweare {
	background-color: #fff;
	padding: 40px 0px 40px 0px;
}
.whoweare-subtitle {
	max-width: 511px;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 50.5%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 0px 0px 0px 80px;
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whoweare__title {
	max-width: 350px;
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40);
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	color: #737373;
	line-height: calc(20 / 14);
}
.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__icon:nth-child(1) {
	flex: 0 0 32px;
	margin: 2px 0px 0px 0px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	color: #737373;
	white-space: nowrap;
	line-height: calc(20 / 14);
	width: 215px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* -----------------------------       CLIENTS      ----------------------------- */

/* TODO: Smaller logos on adaptive. */

.clients {
	padding: 40px 0px;
}
.clients__items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}

/* -----------------------------      SUBSCRIBE     ----------------------------- */

.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252b42;
}
.subscribe__body {
	position: relative;
	padding: 30px 50px;
	align-items: center;
	background-color: #17213c;
	border-radius: 2px;
	z-index: 2;
}
.subscribe__title {
	color: #fff;
	font-size: 24px;
	line-height: calc(32 / 24);
	font-weight: 700;
	letter-spacing: 0.1px;
}
.subscribe__form {
	display: flex;
	flex: 0 1 50%;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	font-family: inherit;
	flex: 1 1 auto;
	padding: 0px 20px;
	min-height: 58px;
	color: #737373;
	line-height: calc(28 / 14);
	letter-spacing: 0.2px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-right: 0;
	border-radius: 5px 0px 0px 5px;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	font-family: inherit;
	display: flex;
	background-color: #ff7b47;
	color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0px 22px;
	letter-spacing: 0.2px;
	line-height: calc(28 / 14);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.subscribe__button:hover {
	border: 1px solid #ff7b47;
	color: #ff7b47;
	background-color: #fff;
}

/* -----------------------------    GET IN TOUCH    ----------------------------- */

.getintouch {
	padding: 0px 0px 40px 0px;
}
.getintouch__header {
	margin: 40px 0px 0px 0px;
	padding: 40px 0px 0px 0px;
}
.getintouch-subtitle {
	max-width: 470px;
}
.getintouch__items {
	margin: 0px -15px;
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 15px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch__icon svg {
	fill: #0d5c63;
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: calc(24 / 14);
	display: inline-block;
	position: relative;
}
.item-getintouch__email::after {
	position: absolute;
	left: 50%;
	content: "";
	height: 0.1px;
	background: #fff;
	transition: all 0.3s ease 0s;
	width: 0;
	bottom: 1px;
}
.item-getintouch__email:hover::after {
	width: 100%;
	margin: 0 -50%;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.1px;
}
.item-getintouch__button {
	min-height: 44px;
	border: 1px solid #ff7b47;
	border-radius: 5px;
	padding: 10px 20px;
	font-weight: 600;
	line-height: calc(24 / 14);
	letter-spacing: 0.2px;
	color: #ff7b47;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	display: flex;
}

/* -----------------------------       CONTACT      ----------------------------- */

.contact {
	background-color: #fff;
	padding: 40px 0px;
}
.contact__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact__title {
	font-size: 24px;
	line-height: calc(32 / 24);
	font-weight: 700;
	letter-spacing: 0.1px;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	font-weight: 500;
	line-height: calc(20 / 14);
	letter-spacing: 0.2px;
	color: #737373;
}
.contact__button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #ff7b47;
	border-radius: 5px;
	padding: 5px 39px;
	font-weight: 700;
	line-height: calc(28 / 14);
	letter-spacing: 0.2px;
	color: #fff;
	min-height: 58px;
	min-width: 162.56px;
	border: 1px solid #ff7b47;
	transition: all 0.3s ease 0s;
}
.contact__button:hover {
	color: #ff7b47;
	background-color: #fff;
}

/* -----------------------------     FOOTER TOP     ----------------------------- */

/*	TODO: Spoilers. */

.footer__top {
	background-color: #17213c;
	padding: 35px 0px;
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.3334%;
}
.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: calc(24 / 16);
	margin: 0px 0px 20px 0px;
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #fff;
	letter-spacing: 0.2px;
	font-weight: 600;
	line-height: calc(24 / 16);
	display: inline-block;
	position: relative;
}
.menu-footer__link::after {
	position: absolute;
	left: 0;
	content: "";
	height: 0.1px;
	background: #fff;
	transition: all 0.3s ease 0s;
	width: 0;
	bottom: -3px;
}
.menu-footer__link:hover::after {
	width: 100%;
	margin: 0;
}
.contacts-footer__column {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	display: flex;
	align-items: center;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contacts-footer__icon {
	margin: 0px 10px 0px 0px;
}
.contacts-footer__link {
	padding: 0px 0px 3px 0px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.2px;
	line-height: calc(24 / 14);
	display: inline-block;
	position: relative;
}
.contacts-footer__link::after {
	position: absolute;
	left: 0;
	content: "";
	height: 0.1px;
	background: #fff;
	transition: all 0.3s ease 0s;
	width: 0;
	bottom: 1px;
}
.contacts-footer__link:hover::after {
	width: 100%;
	margin: 0;
}

/* -----------------------------   FOOTER BOTTOM    ----------------------------- */

.footer__bottom {
	background-color: #fff;
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	font-weight: 600;
	line-height: calc(24 / 14);
	letter-spacing: 0.2px;
	color: #737373;
}
.social {
	display: flex;
	align-items: center;
}
.social__item {
	transition: all 0.3s ease 0s;
}
.social__item:hover {
	filter: brightness(50%);
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}

/* -----------------------------   TO TOP BUTTON    ----------------------------- */

.to-top {
	position: fixed;
	display: inline-block;
	bottom: 30px;
	right: -40px;
	width: 40px;
	height: 40px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background: #0d5c63;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.to-top:hover {
	background: #3b7e85;
}
.to-top svg {
	position: relative;
	top: 13px;
	right: -1px;
	fill: #fff;
	transition: all 0.3s ease-in-out;
}
.to-top:hover svg {
	cursor: pointer;
	fill: #fff;
	transition: all 0.3s ease-in-out;
}
.to-top.show {
	opacity: 1;
	visibility: visible;
	right: calc(2%);
}

/*@  ---------------------------       @MEDIA       ----------------------------- */

@media (max-width: 1300px) {
	/* --------   MAIN BLOCK   -------- */
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 1080px) {
	/* --------   WHO WE ARE   -------- */
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 1064px) {
	/* --------   MAIN BLOCK   -------- */
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
	.main-block__image {
		opacity: 0.5;
	}
}
@media (max-width: 1040px) {
	/* --------    PRACTICE    -------- */
	.practice__column {
		flex: 0 1 50%;
	}
	.item-practice__image:hover {
		transform: none;
	}
}
@media (max-width: 1036px) {
	/* --------   ADVANTAGES   -------- */
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 992px) {
	/* --------     HEADER     -------- */
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
	/* --------    SERVICES    -------- */
	.services {
		padding: 0px 0px 25px;
	}
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	/* -------- HEADER 2 BLOCK -------- */
	.header-block {
		margin: 0px 0px 35px 0px;
	}
	.header-block__title {
		font-size: 35px;
	}
	/* --------   ADVANTAGES   -------- */
	.advantages {
		padding: 25px 0px;
	}
	/* --------    PRACTICE    -------- */
	.practice {
		padding: 25px 0px;
	}
	/* --------   WHO WE ARE   -------- */
	.whoweare {
		padding: 25px 0px;
	}
	.whoweare__title {
		font-size: 35px;
	}
	/* --------    CLIENTS     -------- */
	.page__clients:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.clients {
		padding: 25px 0px;
	}
	/* --------  GET IN TOUCH  -------- */
	.getintouch {
		padding: 0px 0px 20px 0px;
	}
	.getintouch__header {
		margin: 25px 0px 0px;
		padding: 25px 0px 0px 0px;
	}
	.item-getintouch {
		padding: 25px 15px;
		margin: 30px 0px;
	}
	.item-getintouch__email::after {
		background: #000;
	}
	.item-getintouch__button:hover {
		background-color: #ff7b47;
		color: #fff;
	}
	/* --------     CONTACT    -------- */
	.contact {
		padding: 30px 0px;
	}
	/* --------   FOOTER TOP   -------- */
	.footer__column {
		flex: 0 1 25%;
		padding: 15px 25px;
	}
	.footer__column:last-child {
		display: flex;
		flex-direction: column;
		flex: 0 1 100%;
		align-items: center;
	}
}
@media (max-width: 950px) {
	/* --------   WHO WE ARE   -------- */
	.whoweare {
		padding: 20px 0px 40px 0px;
	}
	.whoweare__body {
		flex-direction: column;
		align-items: stretch;
	}
	.whoweare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.whoweare__title {
		max-width: 100%;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
}
@media (max-width: 868px) {
	/* --------    CLIENTS     -------- */
	.clients__item {
		flex: 0 1 33.333%;
	}
}
@media (max-width: 810px) {
	/* --------    SUBSCRIBE   -------- */
	.subscribe::before {
		display: none;
	}
	.subscribe__body {
		margin: 0px -15px;
		padding: 20px 15px;
	}
	.subscribe__title {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 767px) {
	/* --------     HEADER     -------- */
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
	/* --------    SERVICES    -------- */
	.services {
		padding: 0px 0px 20px;
	}
	/* -------- HEADER 2 BLOCK -------- */
	.header-block {
		margin: 0px 0px 25px 0px;
	}
	.header-block__title {
		font-size: 30px;
	}
	/* --------   ADVANTAGES   -------- */
	.advantages {
		padding: 20px 0px;
	}
	/* --------    PRACTICE    -------- */
	.practice {
		padding: 20px 0px;
	}
	/* --------   WHO WE ARE   -------- */
	.whoweare {
		padding: 20px 0px 20px 0px;
	}
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__item:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.whoweare__title {
		font-size: 30px;
	}
	/* --------    CLIENTS     -------- */
	.clients {
		padding: 20px 0px;
	}
	/* --------  GET IN TOUCH  -------- */
	.getintouch__header {
		padding: 20px 0px 0px 0px;
	}
	/* --------     CONTACT    -------- */
	.contact {
		padding: 20px 0px;
	}
	.contact__title {
		padding: 0px 100px 0px 0px;
	}
	/* --------   FOOTER TOP   -------- */
	.footer__top {
		padding: 25px 0px;
	}
	.footer__column {
		flex: 0 1 50%;
	}
	/* -------- FOOTER BOTTOM  -------- */
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		padding: 0px 0px 15px 0px;
		text-align: center;
	}
}
@media (max-width: 630px) {
	/* --------    PRACTICE    -------- */
	.practice__column {
		flex: 0 1 100%;
	}
}
@media (max-width: 560px) {
	/* --------     HEADER     -------- */
	.menu__link:hover::after {
		width: 0;
	}
	/* --------   ADVANTAGES   -------- */
	.advantages__column {
		flex: 0 1 100%;
	}
	/* --------     CONTACT    -------- */
	.contact__body {
		display: block;
		text-align: center;
	}
	.contact__title {
		padding: 0px;
	}
	.contact__text {
		margin: 0px 0px 20px 0px;
	}
	.contact__button {
		margin: 0 auto;
		width: 161.28px;
		padding: 10px 0px;
		min-height: 46px;
	}
}
@media (max-width: 479px) {
	/* --------     HEADER     -------- */
	.header__container {
		min-height: 70px;
	}
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
	.menu__link {
		font-size: 18px;
	}
	/* --------   MAIN BLOCK   -------- */
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
	.main-block__title {
		font-size: 42px;
	}
	.main-block__text {
		color: #585757;
	}
	.main-block__button {
		flex: 1 1 100%;
	}
	/* --------    SERVICES    -------- */
	.services__item {
		padding: 25px 30px;
	}
	/* --------    SUBSCRIBE   -------- */
	.subscribe__input {
		padding: 0px 15px;
	}
	.subscribe__button {
		padding: 0px 15px;
	}
}
@media (max-width: 377px) {
	/* --------   FOOTER TOP   -------- */
	.footer__column {
		padding: 15px 15px;
	}
}
@media (min-width: 1070px) {
	/* --------    SUBSCRIBE   -------- */
	.subscribe__body {
		margin: 0px 30px;
	}
}
@media (min-width: 992px) {
	/* --------  GET IN TOUCH  -------- */
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
	.item-getintouch:hover {
		background-color: #252b42;
		color: #fff;
		padding: 80px 15px;
		margin: -40px 0px;
	}
	.item-getintouch:hover .item-getintouch__button {
		background-color: #252b42;
		color: #fff;
		border: 1px solid #fff;
	}
	.item-getintouch:hover svg {
		fill: #fff;
	}
	.item-getintouch__icon svg {
		transition: all 0.3s ease 0s;
	}
	.item-getintouch__button:hover:hover {
		background-color: #fff;
		color: #252b42;
	}
}
@media (min-width: 810px) {
	/* --------    SUBSCRIBE   -------- */
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (min-width: 670px) {
	/* --------    SERVICES    -------- */
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
	.services__column {
		padding: 0px 15px;
	}
}
@media (min-width: 479px) {
	/* --------   MAIN BLOCK   -------- */
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
